<p>template-driven-form works!</p>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
    <input type="text" required pattern="[a-zA-Z]+$" #name="ngModel" placeholder="Enter Name" name="name" ngModel>
    <br><span style="color: red;" *ngIf="name.invalid && name.touched">Please Enter a Valid Input</span><br><br>
    <input type="password" required #password="ngModel" minlength="8" placeholder="Enter Password" name="password" ngModel>
    <br><span style="color: red;" *ngIf="password.invalid && password.touched">Please Enter a Valid Input</span><br><br>
    <button [disabled]="loginForm.invalid">Login</button>
</form>
